In [1]:
import datetime as dt

# Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:  
The Moscow Times — Wednesday, October 2, 2002  
The Guardian — Friday, 11.10.13  
Daily News — Thursday, 18 August 1977

In [2]:
dt.datetime.strptime('Wednesday, October 2, 2002', '%A, %B %d, %Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [3]:
dt.datetime.strptime('Friday, 11.10.13', '%A, %m.%d.%y')

datetime.datetime(2013, 11, 10, 0, 0)

In [4]:
dt.datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')

datetime.datetime(1977, 8, 18, 0, 0)

# Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:  
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]  
  
Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

In [5]:
def check_date(date):
    try:
        dt.datetime.strptime(date, '%Y-%m-%d')
        print(True)
    except:
        print(False)

In [8]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

check_date(stream[2])

False

# Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае  неверного формата или при start_date > end_date должен возвращаться пустой список.

In [29]:
def date_range(start_date, end_date):
    try:
        start_date = dt.datetime.strptime(start_date, '%Y-%m-%d')
        end_date = dt.datetime.strptime(end_date, '%Y-%m-%d')
        if start_date > end_date:
            raise Exception
        stream_date = []
        middle_date = start_date
        while middle_date <= end_date:
            stream_date.append(middle_date.strftime('%Y-%m-%d'))
            middle_date += dt.timedelta(days=1)
        return stream_date
    except:
        return []

In [35]:
date_range('2024-03-26', '2024-04-01')

['2024-03-26',
 '2024-03-27',
 '2024-03-28',
 '2024-03-29',
 '2024-03-30',
 '2024-03-31',
 '2024-04-01']